@import url("https://use.typekit.net/pde5ymv.css");

*{
    
    
font-family: "input-sans", sans-serif;
font-weight: 100;
font-style: normal;
    
    
}
a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
 
}
/* nav styles */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.logo {
  font-size: 1.8rem;
  color: rgb(5, 5, 116);
  padding-left: 20px;
}

.logo-sc{
  width: 80px;
    height: 80px;
}



.hamburger {
  padding-right: 20px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: black;
}

.nav__link {
  position: fixed;
  width: 94%;
  top: 5rem;
  left: 18px;
  background-color: white;
}

.nav__link a {
  display: block;
  text-align: center;
  padding: 10px 0;
}

.nav__link a:hover {
  background-color: lightcoral;
}

.hide {
  display: none;
}


/*DESCRIPCION MIA*/

.intro{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding-top: 30px;
    padding-right: 300px;
    padding-bottom: 30px;
    padding-left: 300px;
    justify-content: space-between;
    
}
.cv{color: #111;
  align-self: center;
    
    
   
}

/* .selena{
  font-weight: 600;
} */
.img-cv{
  width: 300px;
  height: 300px;
  margin: 25px;
  
  border-radius: 10%; 
}

.cv a{
  text-decoration: none;
  font-size: small;
  color: white;
}

.boton {
  border: 1px solid #E06B49; /*anchura, estilo y color borde*/
  padding: 15px; /*espacio alrededor texto*/
  background-color: #E06B49; /*color botón*/
  color:#ffffff; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  border-radius: 50px; /*bordes redondos*/
  
  }
.sobre-mi{
  display: flex;
 background-color: white;
  color: black;
  padding-top: 30px;
  
    padding-right: 300px;
    padding-bottom: 30px;
    padding-left: 300px;
}
.about-me h1{
  text-align: center;
  margin: 30px;
}
.about-me p{
  margin: 30px;
}
/*FIN DESCRIPCION MIA*/

/*HABILIDADES*/
.habilidades{
  background-color: white;
  padding-top: 30px;
  padding-right: 300px;
  padding-bottom: 30px;
  padding-left: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.habilidadess{
  display: flex;
  justify-content: space-around;
}
.experiencia-logo{
  width: 80px;
  height: 80px;
  align-items: center;
  text-align: center;
  background: lightblue;
    border-radius: 50%;
    width: 170px;
    height: 170px;
}
.habilidades-logo{
  padding: 20px;
}
.habilidades h1{
  font-size: xx-large;
  font-weight: 600;
  padding-bottom: 50px;
}

/*FORMULARIO*/
@import url( 'https://fonts.googleapis.com/css?family=Roboto');
:root {--fuente-principal: 'Roboto', sans-serif;
--color-principal: black;
--bk1: 700px;}

*,
*::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 

body {
  
  color: black;
   line-height: 1.5; 
}

.form {
  max-width: 100%;
  margin: 0;
  /* padding: 1.5rem; */
  background-color: white;
  padding-right: 300px;
  padding-bottom: 30px;
  padding-left: 300px;
}

.wrapper {
  box-shadow: 0 0 20px 0 black;
  border-radius: 5px;}



 

.servicios {
  list-style: none;
  text-align: center;}


  

.logo {
  text-align: center;
  margin-bottom: 1rem;
}

.info-empresa {
  padding: 1rem;
  
  background-color: white;
}

  
   
    
  


.nombre-empresa {
  color: darken(var(--color-principal), 15%);
  text-align: center;
}

.contacto {
  padding: 1rem;
  background-color: lighten(white, 60%);}

  h3 {
    margin-bottom: 1rem;
    text-align: center;
  }


.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.25rem;}

  label {
    display: block;
  }

  button,
  input,
  textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid black;
  }

  textarea {
    resize: none;
  }


.full{
  grid-column: 1 / 3;
  
}



.boton-enviar {
  background-color:  #E06B49;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;}

  a:focus,
  a:hover {
    background-color: white;
    color: black;
    outline: 0;
    transition: background-color 2s ease-out;
  }


  .curved {
    position: relative;
    background:  #E06B49;
    height: 30vh;
  }

  .curved::after {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: black;
    height: 45%;
  }



.about {
  padding: 100px;
  display: flex;
}

 /*FIN FORMULARIO*/
/*FOOTER*/
footer{
   
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: black;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
      padding-right: 70px;
      padding-bottom: 30px;
      padding-left: 70px;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: black;
}
/*COMIENZO EDIT ICONOS*/
 .footer-icon {
    grid-column: 3/3;
    grid-row: 1/1;
    }

    .footer-icon {
        display: flex;
       
        align-items: center;
        justify-content: center;
    }

    .footer-icon ul li {
        display: inline-block;
        margin: 0 5px;
        width: 50px;
        height: 50px;
        text-align: center;
    }

    .footer-icon ul li a {
        display: block;
        padding: 0 10px;
        background: white;
        color: black;
        line-height: 50px;
        font-size: 18px;
       box-shadow: 0 3px 5px 0px rgba(236, 232, 232, 0);
        transition: .2s;
    }

    .footer-icon ul:hover a {
        filter: blur(2px);
    }

    .footer-icon ul li a:hover {
        transform: translateY(-3px) scale(1.05);
        box-shadow: 0 3px 5px 0px rgba(0,0,0,0.4);
        filter: none;
    }

    .footer-icon ul li .linkedin:hover {
        background: rgb(61, 61, 205);
    }  
    .footer-icon ul li .github:hover {
        background: rgb(54, 53, 53);
    }  
    .footer-icon ul li .email:hover {
        background: rgb(234, 193, 193);
    }  
    .footer-icon ul li .whatsapp:hover {
        background: rgb(37, 206, 37);
    }  
    /*FIN FOOTER*/

/*QUERIES*/

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
   /*  header{
        display: flex;
        justify-content:  column;
        padding: 0;
        
    } */
  }

  @media only screen
  and (min-width: 320px)
  and (max-width: 736px)
  
  {

    /* .header-main{
        
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .section-img{
      padding: 0;
      margin: 0;
    }
    .section-nav-a{
      font-size: small;
      justify-content: space-between;
    } */
    .intro{
      display: flex;
      flex-direction: column;
      padding: 0;
      
  }

  
  .img-cv{
    width: 200px;
    height: 200px;
    margin-left: 90px;
    
    border-radius: 10%; 
    
    
  }


    .section-logo{
        align-self: center;
        padding: 15px;
    }



    .cv{
      padding-top: 50px;
    }
    .intro .cv h1{
      
      text-align: center;
    }
    .intro .cv p{
      text-align: center;
    }

    .boton{
      margin-left: 70px;
      
    }

    
    .form{
      padding: 0;
    }

    .proyectos{
      padding: 0;
      text-align: center;
    }


















    .sobre-mi{
      display: flex;
      padding: 0px;
     

    }

    .habilidades{
      padding: 0;
      align-items: center;
    }
  
    .habilidadess{
      display: flex;
      flex-direction: column;
      flex-direction: column-reverse;
      align-items: center;
    }











    .experiencia{
      background-color: red;
      color: #111;
      display: flex;
      flex-direction: column;
      
    }
    
    .tecnologias{
      display: flex;
      flex-direction: column;
    }

    .tecnologias i{
      text-align: center;
    }

    .habilidades{
      display: flex;
      flex-direction: column;
      
    }
    
    .trabajo{
      display: flex;
      flex-direction: column;
      padding: 50px 50px 50px 50px;
      align-self: center;

    }
    
    .trabajo img{
      width: 50px;
      height: 50px;
      align-self: center;
    }
    
    .footer{
      padding: 0px;
    }


  /* inserta aquí tu código */
  }




  @media screen and (min-width: 600px) {
    .nav__link {
      display: block;
      position: static;
      width: auto;
      margin-right: 20px;
      background: none;
    }
  
    .nav__link a {
      display: inline-block;
      padding: 15px 20px;
    }
  
    .hamburger {
      display: none;
    }
    .nav{
      padding-top: 30px;
      padding-right: 300px;
      padding-bottom: 30px;
      padding-left: 300px;
    }
  }